#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#theme {
  position: absolute;
  top: 6rem;
  right: 6rem;
  cursor: pointer;
}

#theme .light:hover svg path,
#theme .dark:hover svg path {
  fill: rgb(62, 162, 196);
}

#countdownTimer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#countdownTimer span {
  font-size: 12.6rem;
}

#countdownTimer .controllers {
  display: flex;
  gap: 3rem;
}

#countdownTimer .start:hover svg path,
#countdownTimer .stop:hover svg path,
#countdownTimer .add:hover svg path,
#countdownTimer .remove:hover svg path {
  fill: rgb(62, 162, 196);
}

#quotes {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.marianoButton {
  animation: heartbeat 5s infinite;
}

.quote-text {
  position: relative;
  background-image: url('assets/quotation-marks.png');
  background-repeat: no-repeat;
  background-size: 3rem;
  background-position: left center;
  font-size: 1.7rem;
  padding: 4rem;
}

#audio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

#audio button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-audio);
  border: solid rgb(119, 118, 118);
  border-radius: 2.4rem;
  gap: 2rem;
  padding: 4.8rem;
  transition: filter 700ms;
}

#audio button:hover {
  filter: opacity(0.5);
}

#audio button.active {
  background-color: var(--bg-audio-active);
}

#audio button.active svg path {
  fill: white;
}

.dark #audio button input::-webkit-slider-runnable-track {
  height: 0.7rem;
  width: 100%;
  margin: 0.5rem;
  background-color: #c4c4cc;
  border-radius: 2px solid;
}

.dark #audio button input::-webkit-slider-thumb {
  margin-top: -0.4rem;
}

.dark button svg path {
  fill: #c4c4cc;
}

.dark #audio button {
  background-color: #29292e;
}

.dark #audio button.active {
  background-color: #0a3442;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}
