#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#theme {
  position: absolute;
  top: 6rem;
  right: 6rem;

  cursor: pointer;
}

#countdownTimer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#countdownTimer span {
  font-size: 12.6rem;
}

#countdownTimer .controllers {
  display: flex;
  gap: 3rem;
}

#countdownTimer .start:hover svg path,
#countdownTimer .stop:hover svg path,
#countdownTimer .add:hover svg path,
#countdownTimer .remove:hover svg path {
  fill: rgb(62, 162, 196);
}
