:root {
  font-size: 60.5%;

  --bg-color: hsla(var(--hue), 0%, 100%, 1);
  --bg-audio: hsla(var(--hue), 9%, 89%, 1);
  --bg-audio-active: #2493b4;

  --hue: 240;

  --ff-primary: 'Roboto', sans-serif;
  --tt-color-primary: hsl(var(--hue), 6%, 21%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-content: center;
  font-family: var(--ff-primary);
  font-size: 1.6rem;
  color: var(--tt-color-primary);
  background-color: var(--bg-color);
}

::selection {
  color: #333335;;
  background: rgba(62, 163, 196, 0.384);
}

main {
  display: grid;
  align-items: center;
  gap: 20rem;
  grid-template-columns: 1fr 1fr;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.hide {
  display: none;
}

.dark body {
  background: #1e1e20;
  color: rgb(243, 226, 226);
}

.dark #audio button input {
  appearance: none;
  background: none;
}


@media (max-width: 1220px) {
  body {
    padding: 3rem;
  }

  #countdownTimer span {
    font-size: 10.6rem;
  }

  #countdownTimer .controllers {
    justify-content: center;
    gap: 3rem;
  }

  #audio {
    gap: 2rem;
  }

  #audio button {
    padding: 3rem;
  }
}

@media (max-width: 900px) {

  body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  #theme {
    position: absolute;
    top: 2rem;
    right: 2rem;

    cursor: pointer;
  }

  main {
    grid-template-columns: 1fr;
  }

  #countdownTimer span {
    font-size: 8.6rem;
  }

  #audio {
    gap: 1.5rem;
  }

  #audio button {
    padding: 2rem;
  }
}
